@using Subvault_Domain

@model Subvault_Domain.Entities.Item

<div class="item-box">
    <div class="image-box">
        @if (!String.IsNullOrEmpty(Model.PosterPath)) {
            <img src="@GlobalSettings.APIImageRoot/w@(GlobalSettings.ItemBoxPosterWidth)@(Model.PosterPath)" />
        } else {
            <img src="~/Content/img/img-not-available.png" />
        }
    </div>
    <div class="item-info-box">
        <h3 title="@Model.Title">@Model.Title</h3>
        @if (Model is Subvault_Domain.Entities.Movie) {
            <a href="@Html.Raw("/Movie/" + Model.Id)"><button class="green-button">Subtitles <i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
        } else {
            <a href="@Html.Raw("/Series/" + Model.Id)"><button class="green-button">Subtitles <i class="fa fa-arrow-right" aria-hidden="true"></i></button></a>
        }
    </div>
</div>