<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Subvault</title>

    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,900" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />

    <!-- jQuery -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>

    <script src="~/Scripts/mobile-nav.js"></script>

    <script src="~/Scripts/multiselect.js"></script>

    <script src="~/Scripts/upload-dialog.js"></script>

    @RenderSection("Scripts", false)
</head>
<body>
    <div class="dialog" id="upload-dialog">
        <div class="dialog-inner">
            <p>For what would you like to upload subtitles?</p>
            <button class="dialog-close">X</button>
            <div class="col-xs-6"><a href="@Url.Action("Upload", "Subtitles")"><button>For a movie</button></a></div>
            <div class="col-xs-6"><a href="@Url.Action("Upload", "Subtitles")"><button>For a series</button></a></div>
        </div>
    </div>

    <nav id="mobile-nav" class="hidden-sm hidden-md hidden-lg hidden-xl">
        <button><i class="fa fa-bars" aria-hidden="true"></i></button>
        <a href="/">
            <div id="logo-area">
                <h1><span>Sub</span>vault</h1>
            </div>
        </a>
    </nav>
    <nav id="side-nav">
        <a href="/" class="hidden-xs">
            <div id="logo-area">
                <h1><span>Sub</span>vault</h1>
            </div>
        </a>

        @Html.Partial("_NavSearch", new Subvault_UI.Models.SearchQuery())

        <div class="multiselect">
            <button>All languages<i class="fa fa-chevron-down" aria-hidden="true"></i></button>
            <div class="multi-dropdown">
                <ul>
                    @foreach (KeyValuePair<string, string> language in Subvault_Domain.GlobalSettings.LanguageCodes) {
                        <li>
                            <input id="multiselect-@language.Key" type="checkbox" name="language-multiselect" value="@language.Key" />
                            <label class="sub-spec-label" for="multiselect-@language.Key"><span></span> @language.Value</label>
                        </li>
                    }
                </ul>
            </div>
        </div>

        @if (Session["Login"] == null) {
            if (TempData["Login"] != null) {
                @Html.Partial("_NavLogin", TempData["Login"]);
            } else {
                @Html.Partial("_NavLogin", new Subvault_UI.Models.LoginViewModel());
            }
        } else {
            @Html.Partial("_NavUser", Session["Login"])
        }
    </nav>

    <div id="content">
        @RenderBody()
    </div>
</body>
</html>