@using Subvault_Domain

@model Subvault_UI.Models.MovieViewModel

@{
    ViewBag.Title = Model.Title;
    string backdropSrc = @GlobalSettings.APIImageRoot + "/" + @GlobalSettings.ItemDetailBackdropWidth + @Model.BackdropURL;
}

<style>
    #item-detail-backdrop {
        background-image: url("@backdropSrc");
    }
</style>

<div id="item-detail" class="col-xs-12">
    <div id="item-detail-backdrop">
        <img src="@GlobalSettings.APIImageRoot/w@(GlobalSettings.ItemDetailPosterWidth)@(Model.PosterURL)" />
        <h1>@Model.Title</h1>
    </div>
    <div id="backdrop-gradient"></div>
    <div id="item-detail-box" class="col-xs-12">
        <div id="item-detail-text" class="detail-card col-xs-8 col-xs-offset-2">
            @if (Model.ReleaseDate.HasValue) {
                <p>@Model.ReleaseDate.Value.ToString("M-d-yyy")</p>
            } else {
                <p>No release date</p>
            }
            <h4>Description</h4>
            <p>@Model.Description</p>
        </div>
    </div>
</div>