@using Subvault_Domain

@model Subvault_UI.Models.MovieViewModel

@{
    ViewBag.Title = Model.Title;
    string backdropSrc = @GlobalSettings.APIImageRoot + "/" + @GlobalSettings.ItemDetailBackdropWidth + @Model.BackdropURL;
}

<style>
    #item-detail-backdrop {
        background-image: url("@backdropSrc");
    }
</style>

<div id="item-detail" class="col-xs-12">
    <div id="item-detail-backdrop">
        <img src="@GlobalSettings.APIImageRoot/w@(GlobalSettings.ItemDetailPosterWidth)@(Model.PosterURL)" />
        <h1>@Model.Title</h1>
    </div>
    <div id="backdrop-gradient"></div>
    <div id="item-detail-box" class="col-xs-12">
        <div id="item-detail-text" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div id="item-detail-table">
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <b>Release date</b>
                    @if (Model.ReleaseDate.HasValue) {
                        <p>@Model.ReleaseDate.Value.ToString("M-d-yyy")</p>
                    } else {
                        <p>No release date</p>
                    }
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <b>Genres</b>
                    <p>
                        @*@for (int i = 0; i < Model.Genres.Count(); i++) {
                                if (Model.Genres.Count() == 1 || i == Model.Genres.Count() - 1) {
                                    @Html.Raw(Model.Genres.ToArray()[i].Name)
                                } else {
                                    @Html.Raw(Model.Genres.ToArray()[i].Name + ", ")
                                }
                            }*@
                    </p>
                </div>
                <div class="col-xs-12col-md-6 col-lg-4">
                    <b>Directed by</b>
                    <p>
                        @*@for (int i = 0; i < Model.Directors.Count(); i++) {
                                if (Model.Directors.Count() == 1 || i == Model.Directors.Count() - 1) {
                                    @Html.Raw(Model.Directors.ToArray()[i].Name)
                                } else {
                                    @Html.Raw(Model.Directors.ToArray()[i].Name + ", ")
                                }
                            }*@
                    </p>
                </div>
                <div class="col-xs-12 col-md-6 col-xs-12">
                    <b>Cast</b>
                    <p>
                        @*@foreach (Subvault_Domain.Entities.CastMember castMember in Model.CastMembers) {
                                @Html.Raw(castMember.Name + ", ")
                            }
                            ...*@
                    </p>
                </div>
            </div>
            </table>
            <h4>Description</h4>
            <p>@Model.Description</p>
        </div>
        <div id="subtitles-list" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="col-xs-12"><h4>Subtitles</h4></div>
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Synced with</td>
                        <td><div class="tooltip"><i class="fa fa-deaf" aria-hidden="true"></i><span class="tooltiptext">For hearing impaired</span></div></td>
                        <td><div class="tooltip"><i class="fa fa-globe" aria-hidden="true"></i><span class="tooltiptext">Foreign speech only</span></div></td>
                        <td>Uploader</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Subtitles != null && Model.Subtitles.Count() != 0) {
                        foreach (Subvault_Domain.Entities.Subtitles subtitles in Model.Subtitles) {
                            <tr>
                                <td>@subtitles.FileName</td>
                                <td>@subtitles.SyncType</td>
                                <td>
                                    @if (subtitles.ForHearingImpaired) {
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    }
                                </td>
                                <td>
                                    @if (subtitles.IsForeignOnly) {
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    }
                                </td>
                                <td>@subtitles.Uploader.Username</td>
                                <td>
                                    <a href="@Url.Action("Download", "Subtitles", new { filePath = subtitles.FilePath, fileName = subtitles.FileName })"><button type="submit" class="green-button"><i class="fa fa-download" aria-hidden="true"></i></button></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>