@using System.Web.UI.WebControls
@using System.Web.Mvc

@model Subvault_Domain.Entities.Subtitles

@{
    ViewBag.Title = "Upload subtitles";

    var listItems = new List<ListItem>();
    foreach (KeyValuePair<string, string> language in Subvault_Domain.GlobalSettings.LanguageCodes) {
        listItems.Add(new ListItem { Text = language.Value, Value = language.Key });
    }

    string action = "UploadFor" + ViewBag.Type;
}

<div id="upload-area" class="col-md-12 col-lg-10 col-lg-offset-1 col-xl-8 col-xl-offset-2">
    @using (Html.BeginForm(action, "Subtitles", FormMethod.Post, new { enctype = "multipart/form-data", @onkeypress = "return event.keyCode != 13;" })) {
        <div id="item-select" class="upload-step col-xs-12 col-md-7">
            <h3><div class="step-number">1</div>Select a @(((String)ViewBag.Type).ToLower())</h3>
            <input id="upload-search-input" type="text" placeholder="Search a @(((String)ViewBag.Type).ToLower())..." />
            <button id="upload-search-button" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

            <div id="upload-search-results"></div>
            @Html.Hidden("itemId")

            @if (ViewBag.Type == "Series") {
                @Html.Hidden("episodeId")
            }
        </div>
        if (ViewBag.Type == "Series") {
            <div id="season-select-area" class="upload-step col-xs-12 col-md-5">
                <h3><div class="step-number"></div>Select season</h3>
                <select id="season-select"></select>
            </div>
            <div id="episode-select-area" class="upload-step col-xs-12 col-md-5">
                <h3><div class="step-number"></div>Select episode</h3>
                <select id="episode-select"></select>
            </div>
        }
        <div id="subtitle-upload" class="upload-step col-xs-12 col-md-5">
            <h3><div class="step-number"></div>Upload subtitles</h3>
            <input id="subtitles-input" type="file" name="file" accept=".srt">
            <label for="subtitles-input">Choose a file...</label>
        </div>
        <div id="meta-data-area" class="upload-step col-xs-12 col-md-5">
            <h3><div class="step-number"></div>Specify additional information</h3>
            <label class="sub-spec-label">Language</label>
            @Html.DropDownListFor(s => s.Language, new SelectList(listItems, "Value", "Text"))
            <label class="sub-spec-label">Synced with</label>
            <div class="sync-type col-xs-3">
                @Html.RadioButtonFor(s => s.SyncType, "Bluray", new { @id = "bluray-radio" })
                <label for="bluray-radio"><span></span><br />Bluray</label>
            </div>
            <div class="sync-type col-xs-3">
                @Html.RadioButtonFor(s => s.SyncType, "DVD", new { @id = "dvd-radio" })
                <label for="dvd-radio"><span></span><br />DVD</label>
            </div>
            <div class="sync-type col-xs-3">
                @Html.RadioButtonFor(s => s.SyncType, "Web", new { @id = "web-radio" })
                <label for="web-radio"><span></span><br />Web</label>
            </div>
            <div class="sync-type col-xs-3">
                @Html.RadioButtonFor(s => s.SyncType, "Other", new { @id = "other-radio", @checked = "true" })
                <label for="other-radio"><span></span><br />Other</label>
            </div>
            <div class="col-xs-12">
                @Html.CheckBoxFor(s => s.ForHearingImpaired, new { @id = "hearing-impaired-checkbox" })
                <label class="sub-spec-label" for="hearing-impaired-checkbox">For hearing impaired <span class="spec-checkbox"></span></label>
            </div>
            <div class="col-xs-12">
                @Html.CheckBoxFor(s => s.IsForeignOnly, new { @id = "foreign-only-checkbox" })
                <label class="sub-spec-label" for="foreign-only-checkbox">Foreign parts only <span class="spec-checkbox"></span></label>
            </div>
            <button type="submit" class="green-button">Upload</button>
        </div>
    }
</div>

<script id="upload-script" src="~/Scripts/upload.js" data-type="@ViewBag.Type"></script>